/* Media Queries for Responsiveness */

/* For Phones (Portrait) */
@media only screen and (max-width: 600px) {
  /* index.html */
  #form {
    width: 100%;
    height: auto;
    font-size: 24px;
    padding: 20px;
  }

  #Greet {
    width: 70px;
  }

  #Ent {
    width: 60px;
    left: 90px;
  }
  /* wish.html */
  video {
    height: 250%;
    width: 250%;
  }

  .wish {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    width: 550px;
    height: 400px;
    left: 0px;
  }
  .wish h1 {
    font-size: 50px;
    left: 30%;
  }

  #wing {
    width: 90%;
    height: auto;
  }

  #diya {
    bottom: 100px;
    right: -20%;
    transform: translateX(-10%);
    transform: translateY(25%);
  }

  #ui {
    width: 150%;
    bottom: 150%;
    left: 50%;
  }

  #page1 h1 {
    font-size: 80px;
    position: relative;
    left: 100px;
  }
  #message {
    left: -120px;
    top: 80px;
    font-size: 60px;
  }
  #n1,
  #cont {
    line-height: 60px;
    font-size: 20px;
  }
  #cont {
    font-size: 40px;
    top: 150px;
  }

  #by {
    top: 300px;
    width: 300px;
  }
  #by #n2 b {
    font-size: 40px;
  }
  #by #n1 {
    font-size: 40px;
  }
}

/* For Phones (Landscape) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* index.html */
  #form {
    width: 100%;
    height: auto;
    font-size: 26px;
    padding: 25px;
  }

  #Greet {
    width: 60px;
  }

  #Ent {
    width: 70px;
    left: 80px;
  }
  /* wish.html */
  video {
    height: 500%;
    width: 250%;
    z-index: -1;
  }
  .wish {
    position: absolute;
    display: inline;
    top: 0px;
    left: 350px;
    width: 150%;
  }
  .wish h1 {
    font-size: 50px;
    left: 25%;
  }

  #wing {
    width: 80%;
    height: auto;
  }

  #diya {
    bottom: 300px;
    height: 300px;
    width: 300px;
    left: 100%;
    transform: translateX(-50%);
  }

  #ui {
    width: 110%;
    bottom: 170%;
    left: 70%;
  }

  #page1 h1 {
    font-size: 100px;
  }
  #message {
    left: -240px;
    top: 60px;
    font-size: 60px;
  }
  #cont {
    font-size: 250%;
    top: 110px;
  }
  #by {
    top: 120px;
    left: 420px;
    width: 450px;
  }
  #by #n2 b {
    font-size: 50px;
  }
  #by #n1 {
    font-size: 50px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1300px) {
  #page1 h1 {
    position: relative;
    top: 55px;
  }
}
